<div class="container">
  <div class="col-xs-8 col-xs-offset-2">

    <h3 appBackground [hoveColor] [defaultColor]>{{ headerText }}</h3>

    <ul class="list-group">
      <li  *ngFor="let item of items" (click)="onClick(item)" class="list-group-item">
        {{ item }}
      </li>
    </ul>

    <div [ngSwitch]="current">
      <p *ngSwitchCase="1">Text 1</p>
      <p *ngSwitchCase="2">Text 2</p>
      <p *ngSwitchCase="3">Text 3</p>
      <p *ngSwitchDefault>Default text</p>
    </div>

  </div>
</div>




