.active {
  background-color: #cccccc;
}
.navbar {
  width: 100%;
}
.navbar > .container-fluid {
  background-color: #eeeeee;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
}
.navbar-nav {
  flex-direction: row;
}
.nav > li {
  padding: 0 10px;
}

.navbar-brand a{
  color: #555555;
}
